# Dependency directories
node_modules/

# Production build outputs
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log
electron.log

# Local configuration / IDEs
.idea/
.vscode/
*.iml
.DS_Store
